<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

	<appSettings>
	  <add key="OPENID_ENDPOINT" value="https://open.login.yahooapis.com/openid/op/auth"/>
	  <add key="SELF_DOMAIN" value="https://ドメイン"/>
	  <add key="CALLBACK_URL" value="https://ドメイン/openid/openid.aspx"/>
	</appSettings>

</configuration>
